<html>
<head>
    <title>Weather Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="weatherText">Weather Dashboard in Flask</h2>
<form class="weatherText" id="weatherForm" action="{{ url_for('test1') }}" method="post">
    Number of days: <input class="weatherText" id="weatherInput" type="text" name="days_number"><br>
    <p><select size="3" id="weatherInput" type="text" name="city">
    <option disabled>Choose your city</option>
    <option value="198328">Москва</option>
    <option selected value="20001">Нью-Йорк</option>
    </select></p>
    <input class="weatherText" id="weatherSubmit" type="submit" value="Submit">
</form>
</body>
</html>